@media screen and (max-width: 991px) {
  .bookStore {
    display: grid;
    position: relative;
    top: 304px;

    width: 100%;
    grid-template-columns: auto auto auto;
    grid-auto-flow: column;
    background-color: #218ae0;
  }
}
@media screen and (min-width: 991px) {
  .bookStore {
    display: grid;
    position: relative;
    top: 156px;

    width: 100%;
    grid-template-columns: auto auto auto;
    grid-auto-flow: column;
    background-color: #218ae0;
  }
}
/* .bookContainer {
} */

/* .bookStore h3 {
  justify-content: center;
} */
.book {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  color: aliceblue;
  text-align: center;
}
img {
  width: 100%;
  height: 300px;

  border-radius: 10%;
}
@media screen and (max-width: 991px) {
  .Cont {
    background-color: bisque;
    position: relative;
    top: 304px;

    width: 100vw;
    max-width: 100vw;
  }
}
@media screen and (min-width: 991px) {
  .Cont {
    background-color: rgb(6, 10, 44);

    position: relative;
    top: 136px;
    width: 100vw;
    max-width: 100vw;
  }
}

.row > * {
  padding-right: 5vw;
  padding-left: 5vw;
  padding-top: 2vw;
}
.Cont h3 {
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  color: rgb(56, 56, 116);
  font-weight: bolder;
}

.Cont h4 {
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  color: rgb(56, 56, 116);
  font-weight: bolder;
}
.col:hover {
  background-color: azure;
}
